<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- <link href="style.css"> -->
</head>
<body>

<button type="button" th:onclick="showAlert()">Show Alert</button>
	<!--Welcome to Thymeleaf -->
	<p th:text="${myobj}">Default Text to be displayed</p>
	<p the:text="$books"></p>
	<input type="text" name="userName" th:value="${myobj}" />


	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
			</tr>
		</thead>
		
		<tr th:if="${#lists.isEmpty(mybooks)}">No content Available
		</tr>
		
		<tbody>
             <tr th:each="book : ${mybooks}">
				<td><span th:text="${book.title}"> Title </span></td>
				<td><span th:text="${book.author}"> Author </span></td>
			</tr>
		
		</tbody>
	</table>
</body>
</html>